<header  [ngClass]="{'sombreado': sombrear}">
    <h1 class="title">DRS</h1>
    <ul class="menu">
        <li>
            <button type="button" class="opcao_menu">Visite-nos</button>
            <ul class="sub_menu">
                <li><a href="#Github">Github</a></li>
                <li><a href="#Linkedin">Linkedin</a></li>
                <li><a href="#Youtube">Youtube</a></li>
            </ul>
        </li>
        <li>
            <button type="button" class="opcao_menu">Projetos</button>
            <ul class="sub_menu">
                <li><a href="#Bíblia">Biblia</a></li>
                <li><a href="#Pokédex">Pokédex</a></li>
                <li><a href="#Blog">Blog</a></li>
            </ul>
        </li>
        <li>
            <button type="button" class="opcao_menu">Caveleiros</button>
            <ul class="sub_menu">
                <li><a href="#ouro">Cavaleiros de ouro</a></li>
                <li><a href="#prata">Cavaleiros de prata</a></li>
                <li><a href="#bronze">Cavaleiros de bronze</a></li>
            </ul>
        </li>
    </ul>
</header>
