<main>
    <a routerLink="segunda_pagina" class="link">Segunda Página</a>
    <figure>
      <img src="https://i.pinimg.com/originals/f4/8d/55/f48d55f7ba274bdbc921a7204e842f63.png" alt="">
    </figure>
    <figure>
      <img src="https://i.pinimg.com/originals/f4/8d/55/f48d55f7ba274bdbc921a7204e842f63.png" alt="">
    </figure>
    <figure>
      <img src="https://i.pinimg.com/originals/f4/8d/55/f48d55f7ba274bdbc921a7204e842f63.png" alt="">
    </figure>
    <figure>
      <img src="https://i.pinimg.com/originals/f4/8d/55/f48d55f7ba274bdbc921a7204e842f63.png" alt="">
    </figure>
  </main>