<main class="container">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia eos architecto provident expedita placeat aut animi dolorum nisi accusamus accusantium nihil voluptatibus quas assumenda sit repellat, doloribus error excepturi corrupti? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae perferendis rem commodi voluptatibus consectetur harum, reiciendis voluptates praesentium vitae accusantium sunt ex, libero consequatur officiis incidunt minus ea dolor dignissimos!</p>
    <a routerLink="" class="link">Home</a>
</main>